* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
}
h2 {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #007bff;
}
.box {
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 400px;
  max-width: 1024px;
  border-radius: 30px;
  box-shadow: 0 2px 3px 1px rgb(230, 45, 147);
}
.inputHolder {
  text-align: center;
  margin-top: 60px;
}
input {
  margin: 10px;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
  width: 60%;
  color: #fff;
}
input:focus {
  color: #007bff;
  box-shadow: 0 1px 2px 2px #007bff;
}
input::placeholder {
  color: rgb(213, 222, 231);
}
button {
  border: none;
  background-color: #007bff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 200px;
}
